
<% layout('layouts/boilerplate') %>
    


<div class="row w-100 mb-5">
    <a href="/campgrounds/<%=campground.id%>" class="float-start "><i class="bi bi-arrow-left-circle-fill"></i> Back to campground </a> 
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3 mb-4">
        <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]" value="<%=campground.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" value="<%=campground.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price">$</span>
                    <input type="number" class="form-control" id="price" aria-label="price" aria-describedby="price" name="campground[price]" value="<%=campground.price%>" required>  
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea type="text" class="form-control" id="description" name="campground[description]" required><%=campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-5">
                <label class="form-label" for="image">Add more images</label>
                <div class="input-group mb-3" id="image">
                    <input type="file" class="form-control shadow-none" name="image" multiple>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="form-label mb-3">Remove Images</label>
                <% campground.images.forEach(function(img, i) { %>
                    <div class="form-check d-flex align-items-center">
                        <input class="form-check-input shadow-none" type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            <label for="image-<%=i%>">
                                <img src="<%= img.url %>" class="img-thumbnail m-3">
                            </label>
                        
                    </div>
                <% }) %> 
            </div>

            <button class="btn btn-info mb-3 text-white">Update Campground</button>
        </form>
        
    </div>
</div>